
@{
    ViewBag.Title = "PreviousProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center">
    <div class="row loadMore">
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g1.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g2.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g3.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g4.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g5.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g6.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g7.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g8.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g9.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g10.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="media mt-40">
                <img src="~/Content/assets/project-img/g11.png" class="img-fluid mr-4" />
                <div class="media-body">
                    <h2 class="fyp-heading">FYP Management System</h2>
                    <p class="comments-space">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
