
@{
    ViewBag.Title = "TopIdea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="media mt-3">
                <img src="~/Content/assets/project-img/g1.png" class="mr-4 img-fluid" />
                <div class="media-body">
                    <h2 class="text-left">Web Design Project Plan Template</h2>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
            <div class="media mt-3">
                <img src="~/Content/assets/project-img/g4.png" class="mr-4 img-fluid" />
                <div class="media-body">
                    <h2 class="text-left">Web Design Project Plan Template</h2>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
            <div class="media mt-3">
                <img src="~/Content/assets/project-img/g3.png" class="mr-4 img-fluid" />
                <div class="media-body">
                    <h2 class="text-left">Web Design Project Plan Template</h2>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
            <div class="media mt-3">
                <img src="~/Content/assets/project-img/g2.png" class="mr-4 img-fluid" />
                <div class="media-body">
                    <h2 class="text-left">Web Design Project Plan Template</h2>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 mt-3">
            <div class="bg-dark p-3">
                <h2 class="text-center text-white">Web Based</h2>
            </div>
            <div class="media mt-3">
                <img src="~/Content/assets/project-img/g11.png" class="mr-2 img-fluid" />
                <div class="media-body">
                    <h4 class="text-left">
                        Controlling Electrical Component
                    </h4>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit.
                    </p>
                </div>
            </div>
            <div class="media mt-3">
                <img src="~/Content/assets/project-img/g6.png" class="mr-2 img-fluid" />
                <div class="media-body">
                    <h4 class="text-left">
                        Controlling Electrical Component
                    </h4>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor.
                    </p>
                </div>
            </div>
            <div class="bg-dark p-3 mt-3">
                <h2 class="text-center text-white">Electronic Based</h2>
            </div>
            <div class="media mt-3">
                <img src="~/Content/assets/project-img/g9.png" class="mr-2 img-fluid" />
                <div class="media-body">
                    <h4 class="text-left">
                        Controlling Electrical Component
                    </h4>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit.
                    </p>
                </div>
            </div>
            <div class="media mt-3">
                <img src="~/Content/assets/project-img/g7.png" class="mr-2 img-fluid" />
                <div class="media-body">
                    <h4 class="text-left">
                        Controlling Electrical Component
                    </h4>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
