
@{
    ViewBag.Title = "Index";
}
<section id="nav">
    <div class="owl-carousel owl-theme">
        <div>
            <div class="bg-banner" style="background-image: url('../../Content/assets/Images/bg1.png');">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h2 class="main-banner-text mt-20">
                            FYP Management System
                        </h2>
                        <p class="banner-sub-text">
                            it is project to Manage the all the Student FYP Projects and Details of the Project on Our Site Which is Really Help Full For the Upcoming Students
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="bg-banner" style="background-image: url('../../Content/assets/Images/bg2.png');">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h2 class="main-banner-text mt-20">
                            FYP Management System
                        </h2>
                        <p class="banner-sub-text">
                            it is project to Manage the all the Student FYP Projects and Details of the Project on Our Site Which is Really Help Full For the Upcoming Students
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="bg-banner" style="background-image: url('../../Content/assets/Images/bg3.png');">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h2 class="main-banner-text mt-20">
                            FYP Management System
                        </h2>
                        <p class="banner-sub-text">
                            it is project to Manage the all the Student FYP Projects and Details of the Project on Our Site Which is Really Help Full For the Upcoming Students
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h2 class="text-center mb-5"> Here Is Your Main Web Site Content</h2>
