
@{
    ViewBag.Title = "SupervisorMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="mt-5">SupervisorMessage</h2>
<div class="right_col" role="main">
    <table class="table table-condensed table-dark table-hover">
        <tr>
            <th>Name</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Usman Khan</td>
            <td>Meeting will be held 2:00 pm</td>
            <td>
                <a href="#">
                    <i class="fa fa-trash text-danger"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>Arslan Khan</td>
            <td>Meeting will be held 2:00 pm</td>
            <td>
                <a href="#">
                    <i class="fa fa-trash text-danger"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>Salman Khan</td>
            <td>Meeting will be held 2:00 pm</td>
            <td>
                <a href="#">
                    <i class="fa fa-trash text-danger"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
